body{
    background-color: #12372A;
    color: #FBFADA;
}

a{
    text-decoration: none;
    color: #ADBC9F;

}

#navigation-bar{
    background-color: aqua;
}


.nav-bar :hover{
    background-color: cyan;
    color: black;
    font-size: 20px;
}

.seven :hover{
    background-color: cyan;
    color: black;
    font-size: 20px;
}

.header:hover{
    background-color:aqua ;
    width: fit-content;
    color: black;
}